[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"

[build.processing]
  ignore_exposed_secrets = ["LIMITLESS_API_BASE_URL"]

[[plugins]]
  package = "@netlify/plugin-nextjs"
